.ProjectItemsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: fit-content;
  gap: 30px;
  position: relative;
  padding: 1px;
  z-index: 3;
}

.ProjectItemsDate {
  position: absolute;
  left: -70px;
  color: #292929;
  opacity: 0.8;
}

.ProjectItemsContent {
  width: 400px;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: left;
  z-index: 20;
  flex-direction: column;
  overflow: hidden;
  padding: 30px;
  transition: opacity 0.3s ease-in-out;
  background-color: rgb(0, 0, 0, 65%);
  border-radius: 10px;
}

.ProjectItemsDot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  left: -4px;
  transition: filter 0.5s;
}

.ProjectItemsContentContainer {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.04);
  /* backdrop-filter: blur(80px) saturate(200%); */
  border-radius: 10px;
  overflow: hidden;
  padding: 1px;
}

.ProjectItemsBlurred {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  left: -150px;
  filter: blur(120px) saturate(150%);
}

.ProjectItemsContent_date {
  margin-bottom: 40px;
  opacity: 0.2;
}
.ProjectItemsContent_logo {
  width: 50px;
  margin-bottom: 10px;
}
.ProjectItemsContent_title {
  margin-bottom: 10px;
}
.ProjectItemsContent_desc {
  margin-bottom: 20px;
}
.ProjectItemsContent_tags {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.ProjectItemsContent_tags p {
  background-color: transparent;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2);
  opacity: 0.5;
  font-size: 13px;
  font-weight: 200;
}
.ProjectItemsContent_buttons {
  display: flex;
  gap: 10px;
}
.ProjectItemsContent_goto {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--color-1));
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
  color: #fff;
}
.ProjectItemsContent_goto:hover {
  transform: scale(110%);
}
.ProjectItemsContent_button_fs {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  top: 30px;
  right: 25px;
  cursor: pointer;
  opacity: 0.3;
  z-index: 100;
}
.ProjectItemsContent_button_fs svg {
  width: 20px;
  height: 20px;
  transition: transform 0.2s;
}

.ProjectItemsContent_button_fs:hover svg {
  transform: scale(130%);
}

.circle {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  filter: blur(120px) saturate(150%);
  transition: opacity 0.5s;
}

@media screen and (max-width: 730px) {
  .ProjectItemsContent {
    width: 400px;
  }
  .ProjectItemsDot {
    display: none;
  }
  .ProjectItemsContentContainer {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ProjectItemsDate {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .ProjectItemsContent {
    width: 280px;
  }
}
