.ProjectsContainer {
  margin-top: 100px;
  width: 100vw;
  height: fit-content;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.ProjectsHeader {
  margin-bottom: 30px;
  text-align: left;
  z-index: 100;
}

.Projects {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  gap: 50px;
}

.Projects::before {
  content: "";
  width: 4px;
  position: absolute;
  background-color: #fff;
  opacity: 0.08;
  left: 14px;
  animation: TimelineAnimation1 1s forwards;
}

.ProjectsSections {
  display: flex;
  flex-direction: row;
  position: relative;
}

.ProjectDotContainer {
  position: sticky;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: fit-content;
  z-index: 1;
}

.ProjectDot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  transition: filter 0.5s;
  background-color: #292929;
  border: solid 10px #000;
}

.ProjectDate {
  position: absolute;
  color: #292929;
  opacity: 0.8;
  left: -50px;
  font-weight: 700;
}

@media screen and (max-width: 730px) {
  .Projects::before {
    display: none;
  }
}
