.ProjectItemsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: fit-content;
  height: 100%;
  gap: 30px;
  position: relative;
}

.ProjectItemsDate {
  position: absolute;
  left: -70px;
  color: #292929;
  opacity: 0.8;
}

.ProjectItemsContent {
  width: 400px;
  height: fit-content;
  background-color: rgb(0, 0, 0, 10%);
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: left;
  backdrop-filter: blur(80px) saturate(200%);
  z-index: 20;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
}

.ProjectItemsContainer::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgb(var(--color-1));
  box-shadow: 0px 0px 20px 3px rgba(var(--color-1), 0.8);
  position: absolute;
  left: -8px;
}

.ProjectItemsContentContainer {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
}

.ProjectItemsBlurred {
  background-color: rgb(var(--color-1));
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  left: -130px;
  z-index: -1;
  filter: blur(80px);
}

.ProjectItemsContent_date {
  margin-bottom: 40px;
  opacity: 0.1;
}
.ProjectItemsContent_logo {
  width: 50px;
  margin-bottom: 10px;
}
.ProjectItemsContent_title {
  margin-bottom: 10px;
}
.ProjectItemsContent_desc {
  margin-bottom: 20px;
}
.ProjectItemsContent_tags {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}
.ProjectItemsContent_tags p {
  background-color: transparent;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  opacity: 0.5;
  font-size: 13px;
  font-weight: 200;
}
.ProjectItemsContent_buttons {
  display: flex;
  gap: 20px;
}
.ProjectItemsContent_goto {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--color-1));
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
  color: #fff;
}
.ProjectItemsContent_goto:hover {
  transform: scale(110%);
}
