.ProjectsContainer {
  margin-top: 100px;
  width: 100vw;
  height: fit-content;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ProjectsHeader {
  margin-bottom: 30px;
  text-align: left;
  z-index: 100;
}

.Projects {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Projects::before {
  content: "";
  width: 3px;
  height: 0%;
  position: absolute;
  background-color: #292929;
  left: 0;
  opacity: 0.5;
  animation: TimelineAnimation1 1s forwards;
}

@media screen and (max-width: 730px) {
  .Projects::before {
    display: none;
  }
}
