.ProjectsContainer {
  margin-top: 30px;
  width: 100vw;
  height: fit-content;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Projects {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Projects::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  background-color: #292929;
  left: 0;
  opacity: 0.5;
}
