.bodyContainer {
  position: relative;
  width: 100vw;
  height: fit-content;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.timelineContainer {
  margin-top: 150px;
  position: relative;
  max-width: 1020px;
  width: 100%;
  height: 100vh;
}
.timelineContainer::before {
  position: absolute;
  content: " ";
  left: 18px;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: #13001b;
}
