.ButtonDownload {
}

.ButtonDownload a {
  border-style: none;
  background-color: rgb(188, 3, 255, 0.9);
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 0px 15px 1px rgb(188, 3, 255, 0.5);
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.ButtonDownload a:hover {
  box-shadow: 0px 0px 15px 1px rgb(188, 3, 255, 0.8);
  background-color: rgb(188, 3, 255, 1);
}
