.homeHeaderContainer {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.homeHeaderSections {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 2;
}

.homeHeaderSections p,
h1 {
  margin: 0;
}

.homeHeader_buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.homeHeaderSubSections {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  backdrop-filter: blur(16px) saturate(1.8);
}

.homeHeaderPattern {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 10vw;
  background-image: url("../assets/looper-pattern.svg");
  background-repeat: no-repeat;
  background-position: 0;
  overflow: hidden;
}

.homeHeaderPattern::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #000000 10%, transparent 100%);
}

.wrapper {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: blur(100px);
  opacity: 0.3;
  transform: scale(130%);
}

.gradient {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  opacity: 0.52;
  mix-blend-mode: screen;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}

.gradient-1 {
  background: rgb(174, 0, 255) none repeat scroll 0% 0% / auto padding-box
    border-box;
  width: 700px;
  height: 700px;
  animation-duration: 40s;
  opacity: 0.52;
  left: 60%;
  top: 40%;
  z-index: -2;
  animation-name: animation-gradient-1;
}
.gradient-2 {
  background: rgb(0, 85, 255) none repeat scroll 0% 0% / auto padding-box
    border-box;
  width: 600px;
  height: 600px;
  animation-duration: 40s;
  opacity: 0.52;
  left: 40%;
  top: 60%;
  z-index: -1;
  animation-name: animation-gradient-2;
}
.gradient-3 {
  background: rgb(255, 0, 123) none repeat scroll 0% 0% / auto padding-box
    border-box;
  width: 500px;
  height: 500px;
  animation-duration: 40s;
  opacity: 0.52;
  left: 50%;
  top: 50%;
  z-index: -3;
  animation-name: animation-gradient-3;
}

@keyframes animation-gradient-1 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(80deg) translateX(30%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(240deg) translateX(15%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
  }
}

@keyframes animation-gradient-2 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(110deg) translateX(-5%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(300deg) translateX(-10%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
  }
}

@keyframes animation-gradient-3 {
  0% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }
  20% {
    transform: translateY(-50%) translateX(-50%) translateX(20%)
      translateY(-30%);
  }
  40% {
    transform: translateY(-50%) translateX(-50%) translateX(-25%)
      translateY(-15%);
  }
  60% {
    transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
  }
  80% {
    transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }
}

.homeHeaderfooterSection {
  position: absolute;
  width: 90vw;
  height: 100px;
  bottom: -50px;
  z-index: 20;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

.homeHeaderfooterSection section {
  backdrop-filter: blur(50px) saturate(200%);
  border-radius: 10px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}
