.ImageClipPathContainer {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.ImageClipPathBlurred {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  overflow: visible;
  filter: blur(60px);
  z-index: 0;
}

.ImageClipPath {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: url(#squircle);
  z-index: 10;
  filter: blur(10px);
  transform: scale(0.9);
  animation: blurredInitialImage 0.5s forwards;
}

@keyframes blurredInitialImage {
  0% {
    filter: blur(10px);
    transform: scale(0.9);
  }

  100% {
    filter: blur(0px);
    transform: scale(1);
  }
}
