.EducationTimelineContainer {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-left: 30px;
  margin-top: 10px;
}
.EducationTimelineContainer::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 0%;
  background-color: aliceblue;
  left: 0px;
  animation: TimelineAnimation1 1s forwards;
}

@keyframes TimelineAnimation1 {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.EducationTimeline {
  position: relative;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.EducationTimelineElement {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
}
.EducationTimelineElement_time {
  position: absolute;
  left: -100px;
  font-size: 10px;
  font-weight: 500;
  color: rgb(98, 98, 98, 0.4);
}
.EducationTimelineElement_title {
  width: 0%;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  overflow: hidden;
  white-space: nowrap;
  animation: TimelineAnimation2 1s forwards;
}
@keyframes TimelineAnimation2 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes TimelineAnimation2 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.EducationTimelineElement_circle {
  position: absolute;
  left: -24px;
  background-color: rgba(var(--color-1), 1);
  box-shadow: 0px 0px 15px 1px rgba(var(--color-1), 0.8);
  width: 10px;
  height: 10px;
  border-radius: 50px;
}
