.EducationTimelineContainer {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-left: 30px;
}
.EducationTimelineContainer::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 0%;
  background-color: aliceblue;
  left: 0px;
  animation: TimelineAnimation1 1s forwards;
}

@keyframes TimelineAnimation1 {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.EducationTimeline {
  position: relative;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.EducationTimelineElement {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
}
.EducationTimelineElement_time {
  position: absolute;
  left: calc(-100% - 30px);
  font-size: 10px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
  text-align: right;
  width: 100%;
}
.EducationTimelineElement_title {
  width: 0%;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  animation: TimelineAnimation2 1s forwards;
  text-align: left;
  font-weight: 600;
}
@keyframes TimelineAnimation2 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes TimelineAnimation2 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.EducationTimelineElement_circle {
  position: absolute;
  left: -24px;
  background-color: rgba(var(--color-1), 1);
  box-shadow: 0px 0px 15px 1px rgba(var(--color-1), 0.8);
  width: 10px;
  height: 10px;
  border-radius: 50px;
}
