.CertificationsItemsContainer {
  width: fit-content;
  height: fit-content;
  padding: 1px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(30px) saturate(200%);
}

.CertificationsItemsCircle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  filter: blur(60px);
  bottom: -100px;
  right: -100px;
  z-index: 1;
  opacity: 0.3;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.CertificationsItems {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0, 50%);
  border-radius: 30px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CertificationsItems img {
  max-height: 45px;
  max-width: 100px;
  opacity: 0.6;
}

.CertificationsItemsIMGTXT {
  position: absolute;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 600;
}

.CertificationsItemsTime {
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 10px;
  color: rgb(255, 255, 255, 0.1);
  font-size: 12px;
  font-weight: 400;
}

.CertificationsItemsTitle {
  color: rgb(255, 255, 255);
  text-decoration: none;
  opacity: 0.9;
}

.CertificationsItemsId {
  position: absolute;
  bottom: 5px;
  left: 5px;
  margin: 10px;
  color: rgb(255, 255, 255, 0.1);
  font-size: 12px;
  font-weight: 400;
}

.certificationTech {
  fill: rgb(255, 255, 255, 0.1);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 5px;
}

@media screen and (max-width: 815px) {
  .CertificationsItems {
    width: 150px;
    height: 150px;
  }
  .CertificationsItemsTime {
    font-size: 13px;
  }
  .CertificationsItems img {
    max-height: 40px;
    max-width: 80px;
  }
  .CertificationsItemsTitle {
    font-size: 13px;
  }
  .CertificationsItemsId {
    font-size: 13px;
  }
}
