.CertificationsContainer {
  width: 100vw;
  height: fit-content;
  min-height: 500px;
  margin-top: 100px;
  overflow: visible;
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CertificationsBackgroundContainer {
  position: absolute;
  width: 100vw;
  height: 100%;
  max-width: 1450px;
  overflow: hidden;
}

.CertificationsBackground {
  position: absolute;
  width: 200vw;
  height: 100%;
  background-image: url("../../assets/looper-pattern2.svg");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  opacity: 0.5;
  max-width: 1450px;
}

.CertificationsCardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
