.CertificationsContainer {
  width: 100vw;
  height: fit-content;
  margin-top: 100px;
  overflow: visible;
  position: relative;
}

.CertificationsBackground {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-image: url("../../assets/looper-pattern2.svg");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  opacity: 0.5;
  max-width: 1450px;
  overflow: visible;
}
