.CertificationsItemsContainer {
  width: fit-content;
  height: fit-content;
  padding: 1px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.CertificationsItemsCircle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  filter: blur(30px);
  transition: opacity 0.5s;
  bottom: -100px;
  right: -100px;
  z-index: 1;
}

.CertificationsItems {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0, 70%);
  border-radius: 10px;
  z-index: 10;
}
