html,
body {
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

.clip-img {
  object-fit: cover;
  object-position: 50%;
  -webkit-clip-path: url(#squircle);
  clip-path: url(#squircle);
}
